extends ../base

block append body
    h2.header.center Register

    if (error)
      p #{error}

    form(method="post")
      .row
        input(
          type="hidden"
          name="_csrf"
          value=csrfToken
        )

        .input-field
          i.material-icons.prefix
            | account_circle
          input(
            type="text"
            name="username"
            required="true"
          )
          label(for="username")
            | Username

        .input-field
          i.material-icons.prefix
            | mail
          input(
            id="email"
            type="email"
            name="email"
            require="true"
          )
          label(for="email")
            | Email Address
          if (error)
            label(for="email" data-wrong=error)

        .input-field
          i.material-icons.prefix
            | lock
          input(
            type="password"
            name="password"
            require="true"
          )
          label(for="password")
            | Password

      button.btn.light-blue(type="submit") Register
