extends ../base

block append body
  h2.center Account
  p User: #{user.userName}
  p Email: #{user.email}
  p.bold Danger
  p
    button.btn#delete-account Delete Account
  form(method="post")
    input(
      type="hidden"
      name="_csrf"
      value=csrfToken
    )
