extends ../base

block append body
    h2.header.center Login

    form(method="post")
      .input-field
        i.material-icons.prefix
          | account_circle
        input(
          type="text"
          placeholder="Email Address"
          name="email"
          required="true"
        )

      .input-field
        i.material-icons.prefix
          | lock
        input(
          type="password"
          placeholder="Password"
          name="password"
          require="true"
        )

      button.btn(type="submit") Login
