extends ../base

block append body
    h2.header.center Login

    if (error)
      p #{error}

    form(method="post")
      input(
        type="hidden"
        name="_csrf"
        value=csrfToken
      )

      .input-field
        i.material-icons.prefix
          | account_circle
        input(
          id="email"
          type="email"
          name="email"
          required="true"
        )
        label(for="email")
          | Email

      .input-field
        i.material-icons.prefix
          | lock
        input(
          id="password"
          type="password"
          name="password"
          require="true"
        )
        label(for="password")
          | Password

      button.btn.light-blue(type="submit") Login
