extends ../base

block append body

  .row

    include inner-side-nav

    .col.s9
      h2.header Active Polls
      if (!userPolls.length) 
        p It doesn't look like you have any polls yet. Get started by 
          a(href="/create-poll")
            | creating a new poll
          |.      
      else
        each poll in userPolls
          .card.white
            .card-content
              span.card-title #{poll.title}
              each option in poll.options
                p #{option.title} - #{option.votes}
            .card-action(data-poll=poll._id)
              a(href="#") Edit Poll
              a(href="#") Share Poll
              a.right.red-text.text-darken-1.delete-poll(href="javascript:void(0);" title="Delete Poll") Delete Poll
              form(method="POST" action="/delete-poll")
                input(
                  type="hidden"
                  name="_csrf"
                  value=csrfToken
                )
                input(
                  type="hidden"
                  name="pollID"
                  value=poll._id
                )