extends ../base

block append body
  
  h2.center Polls

  if (openPolls)
    .card.white
      .card-content
        span.card-title #{openPolls.title}
        //- TODO Change card display depending on hasVoted status
        p Has Voted: #{hasVoted}
        p Creator: #{openPolls.createdBy}
        form(method="post")
          input(
            type="hidden"
            name="_csrf"
            value=csrfToken
          )
          input(
            type="hidden"
            name="pollID"
            value=openPolls._id
          )
          each option, i in openPolls.options
            .input-field
              input(name="vote" value=option.title type="radio" id='option-'+i )
              label(for='option-'+i) #{option.title}
      .card-action
        button.btn#submit-vote Submit Vote
  else
    p.center There are no polls available.